.home-page{
    height: 89vh;
    width: 100%;
}
.product-list {
    display: grid; /* Changed from flex to grid */
    grid-template-columns: repeat(3, 1fr); /* Adjusts the number of columns based on available space */
    gap: 1rem; /* Adds space between grid items */
    padding: 1rem 5rem;
}

.product-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
   padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
.product-card .product-actions{
    display: flex;
    justify-content: space-between;
}

.product-card:hover {
    transform: scale(1.05);
}
.product-card .product-image {
    max-width: 23rem;
}

.product-name {
    font-size: 1.2em;
    margin: 0;
}

.product-price {
    color: #2c3e50;
    font-weight: bold;
}

.category-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.category-button {
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-button.selected {
    background-color: #2c3e50;
    color: white;
}
.skeleton {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 400% 100%;
    animation: loading 1.5s infinite;
    border-radius: 4px;
    height: 300px;
}

@keyframes loading {
    0% { background-position: 100% 0; }
    100% { background-position: 0 0; }
}

.skeleton-text {
    height: 20px;
    margin: 10px 0;
}

.skeleton-title {
    height: 30px;
    margin: 10px 0;
}
